<!DOCTYPE html>
<html lang="es">
<head>
  <title>Mas detales del aviso de adopcion</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="js/detail.js" defer></script>
</head>
<body>
  <header>
    <h1> Aviso de adopcion</h1>
    <nav>
      <a href="/">Portada</a>
      <a href="/aviso_form">Agregar aviso de adopción</a>
      <a href="/aviso_list">Ver listado de adopciones</a>
      <a href="/stats">Estadísticas</a>
    </nav>
  </header>

 <div>
    <p>Fecha de publicación: {{ aviso.fecha_ingreso.strftime('%Y-%m-%d') }}</p>
    <p>Fecha disponible para entrega: {{ aviso.fecha_entrega.strftime('%Y-%m-%d') if aviso.fecha_entrega else 'Sin fecha' }}</p>
    <p>Región / Comuna: {{ aviso.comuna.region.nombre if aviso.comuna else 'Sin región' }} / {{ aviso.comuna.nombre if aviso.comuna else 'Sin comuna' }}</p>
    <p>Sector: {{ aviso.sector or 'Sin sector' }}</p>
    <p>Tipo y cantidad de mascotas: {{ aviso.cantidad }} {{ aviso.tipo }} ({{ aviso.edad }} {{ 'años' if aviso.unidad_medida == 'a' else 'meses' }})</p>
    <p>Nombre del contacto: {{ aviso.nombre }}</p>
    <p>Email: {{ aviso.email }}</p>
    <p>Celular: {{ aviso.celular }}</p>
    <p>Contactar por: 
      {% for contact_por in aviso.contactar_por %}
        {{ contact_por.nombre }} ({{ contact_por.identificador }}){% if not loop.last %}, {% endif %}
      {% else %}
        No especificado
      {% endfor %}
    </p>
    <p>Descripción: {{ aviso.descripcion or 'Sin descripción' }}</p>

    <h3>Fotos</h3>
    <div>
        <img src="../static/uploads/mi_gato.png" alt="El Chiri sentado en el sillón" width="800px" height="600px" >
    </div>
  </div>
  <footer>
    <p>Sistema de Adopciones | Rodrigo Cornejo - 2025</p>
  </footer>
</body>
</html>
