<!DOCTYPE html>
<html lang="es">
<head>
  <title>Listado de Avisos de Adopción</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/lista.js" defer></script>
</head>
<body>
  <header>
    <h1>Listado de Avisos de Adopción</h1>
    <nav>
      <a href="/">Portada</a>
      <a href="/aviso_form">Agregar aviso de adopción</a>
      <a href="/aviso_list">Ver listado de adopciones</a>
      <a href="/stats">Estadísticas</a>
    </nav>
  </header>

  <div>
    <section id="tablaAvisos">
      <h2>Tabla de avisos</h2>
      <p>Aquí se muestran todos los avisos de mascotas</p>
      <table>
        <thead>
          <tr>
            <th>Fecha Publicación</th>
            <th>Fecha Entrega</th>
            <th>Comuna</th>
            <th>Cantidad / Tipo / Edad</th>
            <th>Nombre Contacto</th>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody>
          {% for aviso in avisos %}
          <tr onclick="goToDetalle({{ aviso.id }})" data-aviso="{{ aviso.id }}">
            <td>{{ aviso.fecha_ingreso.strftime('%Y-%m-%d') }}</td>
            <td>{{ aviso.fecha_entrega.strftime('%Y-%m-%d') if aviso.fecha_entrega else 'Sin fecha' }}</td>
            <td>{{ aviso.comuna.nombre if aviso.comuna else 'Sin comuna' }}</td>
            <td>{{ aviso.cantidad }} {{ aviso.tipo }} / {{ aviso.edad }} {{ 'años' if aviso.unidad_medida == 'a' else 'meses' }}</td>
            <td>{{ aviso.nombre }}</td>
            <td>
              <img src="../static/uploads/mi_gato.png" alt="El Chiri sentado en el sillón" width="320px" height="240px" >
              <img src="../static/uploads/mi_gato_2.png" alt="El Chiri un dia lunes" width="320px" height="240px">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>

  <footer>
    <p>Sistema de Adopciones | Rodrigo Cornejo - 2025</p>
  </footer>
</body>
</html>

