{% extends "layout.html" %}

{% block headers %}
<script src="{{url_for('static', filename='js/lista.js')}}" defer></script>
{% endblock %}

{% block content %}
  <div>
    <section id="tablaAvisos">
      <h1>Tabla de avisos</h1>
      <p>Aquí se muestran todos los avisos de mascotas</p>
      <table>
        <thead>
          <tr>
            <th>Fecha Publicación</th>
            <th>Fecha Entrega</th>
            <th>Comuna</th>
            <th>Cantidad / Tipo / Edad</th>
            <th>Nombre Contacto</th>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody>
          {% for aviso in avisos %}
          <tr onclick="goToDetalle({{ aviso.id }})" data-aviso="{{ aviso.id }}">
            <td>{{ aviso.fecha_ingreso.strftime('%Y-%m-%d') }}</td>
            <td>{{ aviso.fecha_entrega.strftime('%Y-%m-%d') if aviso.fecha_entrega else 'Sin fecha' }}</td>
            <td>{{ aviso.comuna.nombre if aviso.comuna else 'Sin comuna' }}</td>
            <td>{{ aviso.cantidad }} {{ aviso.tipo }} / {{ aviso.edad }} {{ 'años' if aviso.unidad_medida == 'a' else 'meses' }}</td>
            <td>{{ aviso.nombre }}</td>
            <td>
              <img src="../static/uploads/mi_gato.png" alt="El Chiri sentado en el sillón" width="120px" >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}
