<!DOCTYPE html>
<html lang="es">
<head>
  <title>Agregar Aviso de Adopción</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="data/comunas-por-regiones.js" defer></script>
  <script src="js/region-comuna.js" defer></script>
  <script src="js/formulario.js" defer></script>
</head>
<body>
  <header>
    <h1>Nuevo Aviso de Adopción</h1>
    <nav>
      <a href="/">Portada</a>
      <a href="/aviso_form">Agregar aviso de adopción</a>
      <a href="/aviso_list">Ver listado de adopciones</a>
      <a href="/stats">Estadísticas</a>
    </nav>
  </header>

  <div>
    <form id="avisoForm">
      <fieldset>
        <legend>¿Dónde?</legend>
        <label>Región:
          <select id="region" name="region">
            <option value="">Seleccione una región</option>
          </select>
        </label>
        <br>
        <label>Comuna:
          <select id="comuna" name="comuna">
            <option value="">Seleccione una comuna</option>
          </select>
        </label>
        <br>
        <label>Sector:
          <input type="text" id="sector" name="sector" maxlength="100" placeholder="Ej: Beauchef 851">
        </label>
      </fieldset>

      <fieldset>
        <legend>¿Contacto de esta publicación?</legend>
        <label>Nombre:
          <input type="text" id="nombre" name="nombre" maxlength="200" placeholder="Ej: Juan Pérez">
        </label><br>
        <label>Email:
          <input type="email" id="email" name="email" maxlength="100" placeholder="Ej: ejemplo@mail.com">
        </label><br>
        <label>Celular:
          <input type="tel" id="celular" name="celular" placeholder="+569.12345678">
        </label><br>
        <label>Contactar por:
          <select id="contactarPor" name="contactarPor">
            <option value="">Seleccione...</option>
            <option value="whatsapp">WhatsApp</option>
            <option value="telegram">Telegram</option>
            <option value="x">X</option>
            <option value="instagram">Instagram</option>
            <option value="tiktok">TikTok</option>
            <option value="otra">Otra</option>
          </select>
        </label><br>
        <div id="contactoExtraContainer"></div>
      </fieldset>

      <fieldset>
        <legend>¿Qué mascota ofrece en adopción?</legend>
        <label>Tipo:
          <select id="tipo" name="tipo">
            <option value="">Seleccione...</option>
            <option value="gato">Gato</option>
            <option value="perro">Perro</option>
          </select>
        </label><br>

        <label>Cantidad:
          <input type="number" id="cantidad" name="cantidad" min="1">
        </label><br>

        <label>Edad:
          <input type="number" id="edad" name="edad" min="1">
        </label>
        <label>Unidad:
          <select id="unidadEdad" name="unidadEdad">
            <option value="">Seleccione...</option>
            <option value="meses">Meses</option>
            <option value="años">Años</option>
          </select>
        </label><br>

        <label>Fecha disponible para entrega:
          <input type="datetime-local" id="fechaEntrega" name="fechaEntrega">
        </label><br>

        <label>Descripción:
          <textarea id="descripcion" name="descripcion" cols="50" rows="10"></textarea>
        </label><br>

        <div id="fotosContainer">
          <label>Foto:
            <input type="file" name="foto" accept="image/*">
          </label>
        </div>
        <button type="button" id="agregarFoto">Agregar otra foto</button>
      </fieldset>
      <button id="btnAgregar" type="button" onclick="ask_for_confirmation()" >Agregar este aviso de adopción</button>


    <div id="confirmacion" class="oculto">
      <p>¿Está seguro que desea agregar este aviso de adopción?</p>
      <button id="confirmarSi" type="submit">Sí, estoy seguro</button>
      <button id="confirmarNo" onclick="close_confirmation()" type="button">No, quiero volver</button>
    </div>
    
    </form>
    
    <div id="mensajeFinal" class="oculto">
      <p>Hemos recibido la información de adopción, ¡muchas gracias y suerte!</p>
      <a href="index.html">Volver a la portada</a>
    </div>
    
  </div>
    <footer>
    <p>Sistema de Adopciones | Rodrigo Cornejo - 2025</p>
  </footer>
</body>
</html>

